@page
@model MagicTheGatheringRazor.Pages.Update.UpdateModel
@{
}
<h1>Magic The Gathering, Edit a Card Page</h1>
<hr>
<p>Soon, you'll be able to Edit/Update a Magic The Gathering card on this page.</p>
<a href='javascript:history.go(-1)'>Return to previous page</a>