@page
@model MagicTheGatheringRazor.Pages.Delete.DeleteModel
@{
}
<h1>Magic The Gathering, Delete a Card Page</h1>
<hr>
<p>Soon, you'll be able to delete a Magic The Gathering card on this page.</p>
<a href='javascript:history.go(-1)'>Return to previous page</a>