@page
@model MagicTheGatheringRazor.Pages.Read.ReadModel
@{
}
<h1>Magic The Gathering, Search for a Card Page</h1>
<hr>
<p>Soon, you'll be able to search for a Magic The Gathering card on this page.</p>
<a href='javascript:history.go(-1)'>Return to previous page</a>