@page
@model IndexModel
@{
    ViewData["Title"] = "MTG Home Page";
}

<div class="text-center">
    <h1 class="display-4">Magic The Gathering Card Database</h1>
    <hr>
    <p></p>
</div>
