@page
@model IndexModel
@{
    ViewData["Title"] = "MTG Home Page";
}

<div class="text-center">
    <h1 class="display-4">Magic The Gathering Card Database</h1>
    <hr>
    <p>This is a database application for adding, editing, and storing MTG cards.</p>
    <p></p>
   
</div>
<ul>
 <li><a asp-page="/Create/Create" >Add a Magic The Gathering Card.</a></li>
 <li><a asp-page="/Read/Read" >Search the database for a card.</a></li>
 <li><a asp-page="/Update/Update" >Edit a card already in the database.</a></li>
 <li><a asp-page="/Delete/Delete" >Delete a card from the database.</a></li>
</ul>
 